<div class="display-control-wrapper">

  <h1>memory</h1>
  <hr class="display-top"> 
  <hr class="display-divide"> 

  <div class="display-list-wrapper">
    <table class="display-list">
      <%= display_list_attribute 'total memory available', "#{@memory.total} #{@memory.total_units}", :class=>'even'%>
      <%= display_list_attribute 'created at', @memory.created_at, :class=>'odd'%>
      <%= display_list_attribute 'updated at', @memory.updated_at, :class=>'even'%>
    </table>
  </div>
  
  <hr class="display-divide"> 
  <hr class="display-bottom"> 

</div>
