<div class="display-control-wrapper">

  <h1>memory</h1>
  <hr class="display-top"> 
  <hr class="display-divide"> 

  <% display_list(@memory) do |m| %>
    <%= display_list_attribute 'total installed memory', "#{m.total} #{m.total_units}" %>
    <%= display_list_attribute m, :created_at %>
    <%= display_list_attribute m, :updated_at %>
  <% end %>  

  <hr class="display-divide"> 
  <hr class="display-bottom"> 

</div>
