/******* authentication control style *******/
.authentication-control-container {
  margin-left: 10em;
  margin-right: 10em;  
  margin-top: 10px;
  margin-bottom: 10px;  
  padding-top: 25px;
  padding-bottom: 20px;  
  padding-left: 25px;
  padding-right: 25px;  
  font-size: .85em;
  font-weight: normal;
  background-color: #EBEBEB;
  border-width: thin;
  border-color: #DDD;
  border-style: solid;
}
.authentication-control-label {
  width: 7em;
  margin-top: 9px;
  margin-bottom: 0px;  
  margin-left: 0px;
  margin-right: 5px;
  float: left;
  text-align: right;
}
.authentication-control {
  margin-top: 5px;
  margin-bottom: 5px;  
  margin-left: 5px;
  margin-right: 5px;
  font-size: 1.1em;
  font-weight: normal;
}
.authentication-control-buttons {
  margin-left: 7.25em;
  margin-right: 0px;
  margin-top: 5px;
  margin-bottom: 0px;
}
.authentication-control-buttons input {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
/******* anchor style *******/
.authentication-control-container a {
  color: #367da6;
  text-decoration: none;
}
.authentication-control-container a:visited {
  color: #367da6;
  text-decoration: none;
}
.authentication-control-container a:hover {
  color: #367da6;
  text-decoration: underline;
}
.authentication-control-container a:visited:hover {
  color: #367da6;
  text-decoration: underline;
}
