/******* prompt-text-loaded style *******/
.prompt-text-loaded {
  color: #AAA;
  font-weight: normal;
}
 
/******* search style *******/
#search {
  text-indent: .3em;
  width: 12em;
}

/******* no-association style *******/
.no-association {
  color: #A00;
  font-weight: bold;
}
 