<table class="button-bar">
  <tr>
    <td class="button-bar-buttons">
      <% form_tag do -%>
        <%= submit_to_remote_with_load_notifier 'create', :url => {:controller => edit_bar[:model].pluralize, :action => 'new'} %>
      <% end -%>
    </td>
    <td class="button-bar-search">
      <% form_tag('javascript:void(0)') do -%>
        <%= search_text_field edit_bar[:search_value]  %>
      <% end -%>
    </td>
  </tr>
</table>  

